<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
{#    <link href="../static/signup.css" rel="stylesheet">#}
    <title>Payment chose page</title>

</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">Python Flask App</h3>
    </div>
    <div class="jumbotron">
        <h1>Payment choosing with the Python Dev API </h1>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <p>&copy; Evgeny Skotarenko</p>
    </footer>

</div>
</body>
</html>