<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form name="Pay" method={{ form_data.method }} action="{{ form_data.url }}"
      accept-charset="UTF-8">
    <input name="lang" type="hidden" value={{ form_data.value }}>
    <input name="m_curorderid" type="hidden" value={{ form_data.m_curorderid }}/>
    <input name="m_historyid" type="hidden" value={{ form_data.m_historyid }}/>
    <input name="m_historytm" type="hidden" value={{ form_data.m_historytm }}>
    <input name="referer" type="hidden" value={{ form_data.referer }}/>
    <script type="text/javascript">document.Pay.submit();</script>
</form>
</body>
</html>